[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "*"
ta-lib = "*"
overrides = "*"
scikit-learn = "*"
pandas = "*"
optuna = "*"
torch = "*"
lightgbm = "*"
catboost = "*"
boto3 = "*"
fsspec = "*"
s3fs = "*"
fastprogress = "*"

[dev-packages]
pytest = "*"
fin-app-model = {editable = true, path = "."}

[requires]
python_version = "3.8"
